<div class="container-fluid">
    <div class="row" style="padding-top: 4rem;">
        <img src="../../assets/title1.png" alt="Welcome to" />
    </div>
    <div class="row">
        <img src="../../assets/title2.png" alt="PokeDB" />
    </div>
    <div class="row text-center" style="padding-top: 4rem;">
        <h5>PokeDB is a simple site that utilizes the <a href="https://pokeapi.co/" target="_blank">PokeAPI</a> API to provide you
            with a database of the original 151 pokemon.</h5>
    </div>
</div>
